@charset "utf-8";
/* CSS Document */

.container-article{
    padding-right: 14%;
    padding-left: 15.6%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
}


article {
    width: 98.8%;
    height: auto;
    border-radius: 3px;
    margin: 5px 5px 5px 5px;
    border: 1px solid gainsboro;
    clear: both;
}

article p {
    padding: 5px 6px 5px 5px;
    line-height: 1.5;  
}
article .konten {
    min-width: 257px;
    width: 23.5%;
    height: auto;
    margin: 5px 9px 5px 8px;
    border-radius: 3px;
    border: 1px solid gainsboro;
    float: left;
}

article .isi {
    width: 98.5%;
    height: auto;
    margin: 5px 5px 5px 5px;
    border-radius: 3px;
    border: 1px solid gainsboro;
    float: left;
}
article .isi .judul {
    font-size: xx-large;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
}
article .isi p {
    margin-top: 0;
}
article .isi img {
    float: left;
    margin: 5px 5px 5px 5px;
}

article .konten img {
    width: 90%;
    margin: 5px 5px 5px 5px;
}

article .konten:hover {
    opacity:0.9;

}
article .konten .judul a {
    margin-left: 5px;
    text-decoration: none;
    font-size:x-large;
    color:#020101;
}

article .konten a:hover {
    opacity:0.9;
}
@media only screen and (max-width: 400px) {
    article .konten{
        width: 100% !important;
        margin-bottom: 20px;
    }

    article .konten img{
        width:90%;
    }
}